body {
  background: #3F3F3F;
  color: #DCDCCC;
  font-family: serif;
  line-height: 1.4;
}

header {
  font-family: sans-serif;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


h1 {
  color: #be5be3;
  font-family: sans-serif;
}

header h1 {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  margin: 2px;
}

header a {
  text-decoration: none;
}

navbar {
  margin-bottom: 10px;
}

navbar ul {
  padding: 0;
  font-size: 0.8em;
}

navbar li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  padding-left: 10px;
}

h2, h3, h4, h5 {
  color: #30d126;
  font-family: sans-serif;
  margin: 0;
}

article, footer, div {
  margin: auto;
  width: 90%
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 800px) {
  article, footer {
    width: 730px;
  }

  div {
    float: left;
    width: 243.3px;
  }
}

blockquote {
  border-left: 2px solid #494B4F;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

blockquote small {
  float: right;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #494B4F;
  border-bottom: 1px solid #494B4F;
}

a {
  color: #DCDCCC;
}

a:hover {
  color: #CC9393;
}

.postlist p {
  margin-top: 0;
  padding-top: 0;
}

h1.posttitle {
  margin: 0;
}
