{{ partial "header.html" . }}
<article class="clearfix">
  <blockquote>
    <p>It is far better to grasp the universe as it really is than to persist in delusion,...</p><br />
    <small>Carl Sagan</small>
  </blockquote>
  <p>
  Some people tend to think too much about a problem before solving it, you know, to make sure that the approach is the right one.
  I'm one of them.
  </p>

  <hr />

  <h4>Education</h4>
  <ul>
    <li><strong>2002 - 2012:</strong> <em>Primary school,</em></li>
    <li><strong>2012 - 2013:</strong> <em>JB-gymnasiet, Information Technology,</em></li>
    <li><strong>2013 - 2015:</strong> <em>Hässleholms Tekniska Skola, Information and Media Technics,</em></li>
    <li><strong>2015 - Present:</strong> <em>Luleå Tekniska Universitet, Master Programme in Computer Science and Engineering.</em></li>
  </ul>

  <hr />

  <h4>Toolbelt</h4>
  <p>I've worked with many different tools, but some are a little bit closer to my brain.</p>

  <div>
    <h5>Operating systems:</h5>
    <ul>
      <li>Arch Linux,</li>
      <li>Gentoo,</li>
      <li>Debian,</li>
      <li>Microsoft Windows,</li>
      <li>OpenBSD.</li>
    </ul>
  </div>
  <div>
    <h5>Languages:</h5>
    <ul>
      <li>JavaScript,</li>
      <li>Go,</li>
      <li>Java,</li>
      <li>C,</li>
      <li>HTML, CSS,</li>
      <li>Python (v2/3).</li>
    </ul>
  </div>
  <div>
    <h5>Miscellaneous:</h5>
    <ul>
      <li>nginx,</li>
      <li>node.js,</li>
      <li>Angular.JS (v1),</li>
      <li>cjdns,</li>
      <li>vi, Vim, Neovim.</li>
    </ul>
  </div>
</article>

{{ partial "footer.html" . }}
